html { 
    background:white ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: black;
    background-color:transparent;
    font-family: "Times New Roman", Georgia, Serif;
}

h1#app-name {
    font-size:100px;
}

button#refreshbtn {
    display:none;
}

img#selected-img{
    height:300px;
    padding:20px;
    display:none;
    margin: 0 auto;
}

h2#page-header {
    padding-top:20px;
    padding-bottom:20px;
}

h3#page-header2 {
    padding-top:20px;
    padding-bottom:20px;
}

body #page-container {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-wrapper {
    padding: 20px 0;
}

input#my-file-selector {
    display:none;
}

#musicplayer{
    padding:20px;
    display:none;
}

h4#track-name {
    display:none;
}